<ul class="nav-admin">
	<li>
		<a href="/admin/rooms">
			<i class="material-icons">meeting_room</i>
			<span>View Rooms</span>
		</a>
	</li>
	<li>
		<a href="/admin/tables">
			<i class="material-icons">restaurant</i>
			<span>View Tables</span>
		</a>
	</li>
	<li>
		<a href="/admin/logout">
			<i class="material-icons">login</i>
			<span>Logout</span>
		</a>
	</li>
</ul>