<div class="nav nav-guest">
  <ul>
    {{>guestlinks}}
  </ul>
</div>


<div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            {{>guestlinks}}
          </ul>
        </div>      
      </div>
    </div>
    <div class="cp">
      <ul>
        {{>nav}}
      </ul>
    </div>
  </div>