
<li><a href="/">Home</a></li>
<li><a href="/guest">Guest Login</a></li>
<li><a href="/admin">Admin Login</a></li>

<!--
<li><a href="/room/book">Book Room</a></li>
<li><a href="/tables">Restaurant</a></li>
<li><a href="/yelp">Activities</a></li>
-->