<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>JnTnD = BnB</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/design.css" type="text/css">
	<link rel="icon" type="image/png" href="/assets/img/favicon.png">
</head>
<body>
  <div class="container main">
    <nav>
      <h1>JnTnD Hotels</h1>
      <ul role="navigation">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/guest">Guest Login</a></li>
        <li><a href="/admin">Admin Login</a></li>
        <li><a href="/room/book">Book Room</a></li>
        <li><a href="/tables">Restaurant</a></li>
        <li><a href="/yelp">Activities</a></li>
      </ul>
    </nav>
    <div id="main">
		  {{{body}}}
    </div>
  </div>
</body>
</html>