<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>JnTnD = BnB</title>
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
  <script src="/assets/js/handlebars.min-v4.7.3.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/design.css" type="text/css">
	<link rel="icon" type="image/png" href="/assets/img/favicon.png">
</head>
<body id="{{tpl}}">
  <div class="container main">
    <nav>
      <h1>JnTnD Hotels</h1>
      <ul role="navigation">
        {{test}}
        {{>nav}}
        {{#if guestsignout}}
        <li><a href="/guest/logout">Sign Out</a></li>
        {{/if}}
      </ul>
      <div id="weather" data-description="">
        <span class="weather-location">Sydney, Australia</span>
        <span class="weather-temp">??</span>
      </div>
    </nav>
    <div id="main">
      {{>guestnav}}
		  {{{body}}}
    </div>
  </div>
  <div class="template reservation">
    <div class="popup-box inactive template">
      <div class="container">
        <h2>Your Reservation has been confirmed.</h2>
        <p>Your table # is {[this.id]} <br />
          Name: {[this.name]} <br />
          Number in Party: {[this.num_party]} <br />
          Reservation Time: {[this.res_time]}</p>
        <span class="close"></span>
        <form action="/tables/{\{this.id}}?_method=DELETE" method="POST">
          <input class="danger" type="submit" value="Cancel Reservation">
        </form>
      </div>
    </div>
  </div>
</body>
<script src="/assets/js/app.js"></script>
</html>