<h2>>Admin Signup</h2>
<form method="POST">
  <label>
    <span>First Name</span>
    <input type="text" name="firstname" placeholder="First Name">
  </label>
  <label>
    <span>Last Name</span>
    <input type="text" name="lastname" placeholder="Last Name">
  </label>
  <label>
    <span>Email</span>
    <input type="email" name="email" placeholder="Your Email">
  </label>
  <label>
    <span>Password</span>
    <input type="password" name="password" placeholder="Enter a new password">
  </label>
</form>
<h3>Already have an account?</h3>
<a href="/admin/login">Login</a>
