<h2>Guest login</h2>
<form action="/guest/login" method="POST"  class="box-login">
  {{#if message}}
  <div class="message-log">{{message}}</div>
  {{/if}}
  <label>
    <span>Room Number</span>
    <input type="number" name="room" placeholder="Room Number" required="required" min="1" max="50">
  </label>
  <label>
    <span>Last Name</span>
    <input type="password" name="lastname" required="required" placeholder="Last Name (Doe)">
  </label>
  <label>
    <input type="submit" value="Login">
  </label>
</form> 