<h2>Guest Login</h2>
<form method="POST" class="box-login">
  <label>
    <span>Room Number</span>
    <input type="number" name="room" placeholder="Room Number">
  </label>
  <label>
    <span>Last Name</span>
    <input type="password" name="lastname">
  </label>
  <label>
    <input type="submit" value="Login">
  </label>
</form>