<h2>Admin Login</h2>
<form action="/admin/login" method="POST" class="box-login">
  <label>
    <span>Username</span>
    <input type="email" name="email" placeholder="Your Username (ie email)" required="required">
  </label>
  <label>
    <span>Password</span>
    <input type="password" name="password" placeholder="Your Password" required="required">
  </label>
  <label>
    <input type="submit" value="Login">
  </label>
</form>
