<h2>Admin Login</h2>
<form action="/admin/login" method="POST" class="box-login">
  <label>
    <span>Username</span>
    <input type="text" name="email" placeholder="Your Username (ie email)">
  </label>
  <label>
    <span>Password</span>
    <input type="text" name="password" placeholder="Your Password">
  </label>
  <label>
    <input type="submit" value="Login">
  </label>
</form>
