{{>admin}}

<form>
  <label>
    <span>Search For Guest:</span>
    <input type="text" name="search">
  </label>
  <label>
    <input type="submit" value="Search">
  </label>
</form>

<h2>All Rooms</h2>
<ul class="availability">

	{{#each rooms}}
		<li><a href="/admin/rooms/id/{{this.dataValues.id}}" class="
			{{#if this.dataValues.available}}
			  room-available
			{{/if}}
			{{#unless this.dataValues.available}}
        {{#unless this.dataValues.checkin}}
          room-reserved
        {{/unless}}
        {{#if this.dataValues.checkin}}
          room-occupied
        {{/if}}
			{{/unless}}
    ">
      {{this.dataValues.id}}
		</a>
  </li>
	{{/each}}
</ul>

<ul class="legend">
  <li><span class="room-available">Room Available</span></li>
  <li><span class="room-reserved">Room Reserved</span></li>
  <li><span class="room-occupied">Room Occupied</span></li>
</ul>