<form>
  <label>
    <span>Search For Guest:</span>
    <input type="text" name="search">
  </label>
  <label>
    <input type="submit" value="Search">
  </label>
</form>

<h2>All Rooms</h2>
<ul>

	{{#each rooms}}
		<li><a href="/admin/rooms/id/{{this.dataValues.id}}">
			{{#if this.available}}
			  <span class="room-available">{{this.dataValues.id}}</span>
			{{/if}}
			{{#unless this.available}}
        {{#unless this.checkin}}
          <span class="room-reserved">{{this.dataValues.id}}</span>
        {{/unless}}
        {{#if this.checkin}}
          <span class="room-occupied">{{this.dataValues.id}}</span>
        {{/if}}
			{{/unless}}
		</a>
  </li>
	{{/each}}
</ul>
// ADD status reference
<a href="/admin/menu">Manager Menu</a>