<form action="/tables" method="post">
  <label>
    <span>Name</span>
    <input type="text" name="name" placeholder="Please enter your name">
  </label>
  <label>
    <span>Contact Number</span>
    <input type="text" name="contact" placeholder="Please enter your phone">
  </label>
  <label>
    <span>
      Email
    </span>
    <input type="email" name="email" placeholder="Please enter your email">
  </label>
  <label>
    <span>Date &amp; Time</span>
    <input type="datetime" name="res_time" placeholder="">
  </label>
  <label>
    <span>Number of People</span>
    <input type="number" name="num_party" placeholder="How many people are in your party?">
  </label>
  <label>
    <input type="submit" value="Make reservation">
  </label>
</form>