<form action="/tables" method="post">
  <label>
    <span>Name</span>
    <input type="text" name="name" placeholder="Please enter your name" required="required">
  </label>
  <label>
    <span>Contact Number</span>
    <input type="text" name="phone" placeholder="Please enter your phone" required="required">
  </label>
  <label>
    <span>
      Email
    </span>
    <input type="email" name="email" placeholder="Please enter your email"  required="required">
  </label>
  <label>
    <span>Time</span>
    <input type="time" name="res_time" placeholder=""  required="required">
  </label>
  <label>
    <span>Number of People</span>
    <input type="text" name="num_party" placeholder="How many people are in your party?"  required="required">
  </label>
  <label>
    <input type="submit" value="Make reservation">
  </label>
</form>