{{>admin}}
<!--
<form action="admin/table-admin" method="GET">
  <div id="search">
    <label>
      <span>Search For Table Reservation:</span>
      <input type="text" name="name">
    </label>
    <label>
      <input type="submit" value="Search">
    </label>
  </div>
</form>
-->
<h2>All Table Reservations</h2>
<div class="table">
  <table>
    <thead>
      <tr>
        <td>Res #</td>
        <td>Customer Details</td>
        <td>View</td>
      </tr>
    </thea>
    <tbody>
      {{#each tables}}
      <tr>
        <td style="width: 80px;">{{this.dataValues.id}}</td>
        <td>{{this.dataValues.name}}</td>
        <td  style="width: 80px;"><a href="/admin/tables/id/{{this.dataValues.id}}">View</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<ul class="legend">
  <li><span class="room-available">Table Available</span></li>
  <li><span class="room-reserved">Table Reserved</span></li>
  <li><span class="room-occupied">Table Occupied</span></li>
</ul>