*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --submit-button: #997A1F;
  --light: #D9AB21;
  --dark: #997A1F;
  --font: #333;
  --font-alt: #997A1F;
  --font-family-attn: 'Montserrat', sans-serif;
  --font-family: 'Manrope', sans-serif;
}

html,
body,
.wrapper {
  color: #333;
  height: 100%;
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}

a, a:link, a:hover, a:active, a:focus {
  color: #333;
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: #997A1F;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}


body {
  background-attachment: fixed;
  background-image: url(/assets/img/Sydneybackground.jpg);
  background-size: cover;
}

nav {
  background: whitesmoke;
}

.container.main {
  display: flex;
    height: 100%;
    width: 100%;
    flex-flow: column;
}

/*
nav h1 {
  background: url(/assets/img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}
*/


nav h1 {
  display: none;
}
nav ul, nav li,
footer ul, footer li,
ul li {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
nav ul li:first-child { 
  justify-content: left;
   flex-grow: 2;
}

nav a {
  padding: 1em;
}


#main {
  background: rgba(255, 255, 255, 0.7);
  flex-grow: 1;
  margin: 0 auto;
  padding: 2em;
  width: 760px;
}

#landing {
  display: flex;
  flex-flow: row;
}

#landing a {
  background: var(--submit-button);
  display: block;
  font-size: 1.2em;
  padding: 1em;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box-login {
  background: white;
  padding: 1em;
}

form label {
  color: #333;
  display: block;
}

form label:first-child {
  flex-grow: 2;
  width: -webkit-fill-available;
  display: flex;
  justify-content: inherit;
}

label span,
label input,
label input[type="text"],
label input[type="email"],
label input[type="number"],
label input[type="date"],
label input[type="password"],
label input[type="submit"],
label select {
  border: 0;
  display: block;
  margin: 0;
  padding: 1em;
  min-width: 250px;
}

label span {
  
}

.box-login label {
  display: flex;
  justify-content: center;
  padding: 1em;
}

label input[type="text"],
label input[type="email"],
label input[type="number"],
label input[type="password"],
label input[type="date"],
label select {
  border: 1px solid #997A1F;
}

label input[type="submit"] {
  background:   var(--submit-button);
  color: #fff;
  cursor: pointer;
  font-family: var(--font-family);
} 


#rooms ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
#roomss li {
  margin: 0;
  padding: 1em;
}

#rooms li a {
  display: block;
}

.room-available,
.room-reserved,
.room-occupied {
  background: lightgreen;
  display: block;
  margin: .5em;
  padding: 1em;
}

.room-reserved {
  background: lightskyblue;
}

.room-occupied {
  background: magenta;
}