*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --submit-button: #997A1F;
  --light: #D9AB21;
  --dark: #997A1F;
  --font: #333;
  --font-alt: #997A1F;
  --font-family-attn: 'Montserrat', sans-serif;
  --font-family: 'Manrope', sans-serif;

  --primary-color: ##333;
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;

  --green-text: #155724;
  --blue-text: #004085;
  --red-text: #721c24;
}

html,
body,
.wrapper {
  color: #333;
  height: 100%;
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}

a, a:link, a:hover, a:active, a:focus {
  color: #333;
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: #997A1F;
  font-family: 'Montserrat', sans-serif;
  margin: 1em 0;
}

h1, h2 {
  color: var(--light);
}

h2 {
  border-left: 5px solid var(--dark);
  color: #fff;
  font-size: 1.5em;
  padding-left: 1em;
}

.template h2 {
  color: var(--light);
}

html {
  height: 100%;
}


body {
  background-attachment: fixed;
  background-image: url(/assets/img/Sydneybackground.jpg);
  background-size: cover;
}

header {
  background: #fff;
}

nav {
  background: #fff;
}

.container.main {
  display: flex;
    height: 100%;
    width: 100%;
    flex-flow: column;
}


nav h1 {
  background: url(/assets/img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 46px;
  margin: 7px 0;
  padding: 0;
  color: rgba(92, 61, 61, 0);
  background-position: center;
}

nav ul, nav li,
footer ul, footer li,
ul li {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

nav ul {
  background: var(--dark);
}
nav ul li:first-child { 
  justify-content: left;
  flex-grow: 2;
}

#guest-view nav li {
  display: none;
}

#guest-view nav li:last-child,
#guest-view nav li:last-child a {
  display: block;
  
}



nav a,
nav a:hover,
nav a:focus {
  color: #fff;
  padding: 1em;
}
 img {
   max-width: 100%;
 }

#main {
  
/*  flex-grow: 1;*/
  margin: 0 auto;
  padding: 2em;
  position: relative;
  width: 760px;
}


.nav-back {
  /*  border-right: 5px solid var(--dark); */
  bottom: 100%;
  color: #fff;
  font-size: 1em;
  padding: 0 1em;
  margin: 1.5em 0;
  position: absolute;
  right: 0;
}

.nav-back:before {
  content: "< ";
}

#landing {
  display: flex;
  flex-flow: row;
  justify-content: space-between; 
}

#landing img {

  max-height: 75px;
  max-width: 100%;
}

#landing a {
  background: linear-gradient(190deg, var(--dark), var(--light));
  background: transparent;
  /*
  background: var(--submit-button);
  var(--submit-button);
  */
  display: block;
  border-radius: 0.3em; 
  color: #fff;
  font-size: 1.2em;
  padding: 1em;

  display: block;
  border-radius: 0.3em;
  color: #fff;
  font-size: 1.2em;
  padding: 1em;
  margin: 0 1em;
  border: 1px solid var(--light);
  text-align: center;
  width: calc(100%/3);
}

#landing a:first-child {
  display: none;
  background: #fff;
  border-radius: 0;
  margin-right: 1em;
  padding: 5px;
}

#landing a:last-child {
  
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: rgba(255,255,255,.9);
  padding: 1em;
}

.box-login {
  background: rgba(255,255,255,.9);
  position: relative;
  
}

.box-login form {
  background: transparent;
}

form label {
  color: #333;
  display: block;
  width: 100%;
}

form.box-login label {
  width: 50%;
}
/*
form label:first-child {
  flex-grow: 2;
  width: -webkit-fill-available;
  display: flex;
  justify-content: inherit;
}
*/
label span,
label input,
label input[type="text"],
label input[type="tel"],
label input[type="email"],
label input[type="number"],
label input[type="date"],
label input[type="time"],
label input[type="password"],
input[type="submit"],
label select {
  border: 0;
  display: block;
  font-size: 1em;
  margin: 0;
  padding: 1em;
  min-width: 100%;
  max-width: 100%;
}


label span {
  padding-left: 0;
}

label {
  display: flex;
  justify-content: center;
  padding: 1em;
}

label input[type="text"],
label input[type="email"],
label input[type="number"],
label input[type="phone"],
label input[type="password"],
label input[type="date"],
label input[type="time"],
label select {
  border: 1px solid #997A1F;
}

input[type="submit"] {
  background:   var(--submit-button);
  color: #fff;
  cursor: pointer;
  font-family: var(--font-family);
  margin: 1em 0;
  width: 100%;
} 

form label:last-child {
  flex-grow: 2;
  width: 100%;
}


#rooms ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
#roomss li {
  margin: 0;
  padding: 1em;
}

#rooms li a {
  display: block;
}

.room-available,
.room-reserved,
.room-occupied,
.message-log {
  color: #155724;
  background-color: #d4edda;
  
  border: 1px solid #c3e6cb;
  display: block;
  margin: 1em;
  padding: 1em;
}

.room-reserved {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.room-occupied,
.message-log {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.stock-available {
  color: var(--green-text);
  font-weight: bold;
}

.stock-occupied {
  color: var(--red-text);
  font-weight: bold;
}
.stock-reserved {
  color: var(--blue-text);
  font-weight: bold;
}

p.room-occupied {
  margin: 0;
}

.message-log {
  width: 100%;
}


ul.availability {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0;
  justify-content: center;
  margin: 0;
  padding: 0;
}

ul.availability li {
  margin-bottom: 10px;
  width: 100%;
}

ul.availability li a {
  height: 100%;
  width: 100%;
}

table {
  background: rgb(255,255,255,0.9);
  margin: 1em;
  width: 100%;
}

thead {
  background: var(--dark);
  color: #fff;
}

td {
  border-bottom: 1px solid var(--light);
  padding: 1em;
}

td:first-child {
  width: 30%;
}

td:last-child {
  width: 30px;
}



/* GUEST / ADMIN LOGIN  */

.box-login h3,
.box-login h4  {
  padding: 1em;
}

.navstyle {
  display: flex;
}

.navstyle li {
  
}


ul.results,
ul.results li {
  margin: 0;
  padding: 0;
}

ul.results li {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.3em;
  display: block;
  padding: 1em;
  margin: 0 0 1em;  
}

ul.results span {
  display: block;
}

.yelpy {
  display: flex;
  
}

.yelpy input[type=text],
input[name=search] {
    color: #997A1F;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-style: italic;
    flex-grow: 2;
    padding: 1em;
}

.yelpy input[type="submit"] {
  background: var(--submit-button);
  color: #fff;
  font-size: 1em;
  border: 0;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
}


.danger {
  background: #b0173b !important;
}



@keyframes loader {
  from {
    background-position: 0 0;
  }
  50% {
    background-position: 50% 50%;
  }
  to {
    background-position: 0 0;
  }
}

body {
  
  animation: loader 20s linear;
  animation-iteration-count: infinite;
}


.template {

}

.inactive {
  display: none !important;
}

.popup-box {
  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-box .container {
  background: #fff;
  padding: 1em;
  position: relative;
}

.popup-box .close {
  background: var(--submit-button);
  color: #fff;
  display: block;
  font-family: var(--font-family);
  text-align: center;
  margin: 1em;
  padding: 1em;
}

.popup-box .close:before {
  content: "close";
}

#weather {
  position: absolute;
  right: 1em;
  text-align: right;
  top: 0.5em;
}

.weather-temp:after {
  content: "°C";
}
.weather-temp {
  display: block;
}


.legend {
  justify-content: center;
  display: flex;
  margin: 1em;
  padding: 0;
}

.legend li {
  margin: 0;
  padding: 0;
}








/*


  Status/Boxes etc


*/


.nav ul, 
.nav li, 
.nav a {
  margin: 0;
  padding: 0;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav li {
  width: calc(100%/3);
}

.nav.nav-admin li {
  margin: 0 0 1em;
  width: calc(50% - 0.5em);
}

.nav a {
  display: block;
  padding: 1em;
  text-align: center;
  width: 100%;
}

.nav.nav-guest a {
  border: 1px solid var(--light);
  border-radius: 0.3em;
  color: #fff;
  font-size: 1.2em;
  margin: 0 1em;
}

.nav.nav-admin a {
  background: var(--submit-button);
  padding: 2em 1em;
}

.nav.nav-admin a span {
  display: block;
}


@media (max-width: 760px) {

  nav {
    border-bottom: 5px solid var(--dark);
  }
  
  nav ul,
  nav li,
  nav a {
    display: none;
  }

  nav a {
    padding: 1em;
  }


  /*
   * NAV FOR ADMIN / GUEST VIEW MOBILE
   */

  
  .nav {
    display: none;
  }

  #view-home .nav,
  #view-admin-home .nav {
    display: block;
  }

  #view-home .nav li {
  }

  #main {
    width: 100%;

  }

  #weather {
    display: none;
  }
  
  #landing {
    display: flex;
    flex-direction: column;
  }

  #landing a {
    margin: 0 0 1em;
    padding: 1em;
    width: 100%;
  }


  /*
   * Login Box
   */

  form.box-login label {
    width: 100%;
  }   

  form.box-login label span {
    display: none;
  }

}




